---
- name: unpack FITS
  become: yes
  unarchive:
    src: "{{ install_path }}/fits-{{ fits_ver }}.zip"
    dest: /usr/local/lib/
    creates: /usr/local/lib/fits-{{ fits_ver }}/fits.sh
    copy: no

- name: make FITS executable
  become: yes
  file:
    path: /usr/local/lib/fits-{{ fits_ver }}/fits.sh
    mode: 0755

- name: write FITS wrapper
  become: yes
  template:
    src: fits.sh.j2
    dest: /usr/local/bin/{{ item }}
    force: yes
    mode: 0755
  with_items:
    - fits
    - fits.sh
